In [33]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
df = pd.read_excel('../Data/investimentos_ibge_v2.xlsx')
df.columns

Index(['Ano', 'Ano-Prog-Acao', 'ID_ACAO_PT', 'ID_PROGRAMA_PT', 'Link Convenio',
       'Modalidade de AplIçáção', 'Município', 'Município, Pais',
       'Núm. Transf', 'Obra', 'Órgão', 'Sigla Órgão', 'Situação', 'UF',
       'Valor total pago/transFérido', 'Sigla UO', 'Unid. orçamentária',
       'Ação', 'Tipo', 'COD IBGE', 'Eixo de Atuação', 'Eixo de Atuação_rec'],
      dtype='object')

In [34]:
# Que tem municipio
municipio = df.loc[df['COD IBGE'].dropna().index]
municipio = municipio.groupby(['Ano', 'COD IBGE', 'UF', 'Tipo', 'Eixo de Atuação_rec'])['Valor total pago/transFérido'].agg('sum')
municipio = municipio.reset_index()
municipio

,Ano,COD IBGE,UF,Tipo,Eixo de Atuação_rec,Valor total pago/transFérido
0,2012,1100205.00,RO,Estrutural,Prevenção,0.00
1,2012,1100304.00,RO,Estrutural,Prevenção,3990633.19
2,2012,1502202.00,PR,Estrutural,Prevenção,0.00
3,2012,1502939.00,PA,Estrutural,Resposta e Recuperação,1203959.10
4,2012,1720804.00,TO,Estrutural,Prevenção,0.00
...,...,...,...,...,...,...
5627,2024,4322400.00,RS,Não estrutural,Resposta e Recuperação,198200.00
5628,2024,4322608.00,RS,Não estrutural,Resposta e Recuperação,453254.27
5629,2024,5107883.00,MT,Estrutural,Resposta e Recuperação,922289.35
5630,2024,5212501.00,GO,Não estrutural,Resposta e Recuperação,565618.13
5631,2024,5220405.00,GO,Não estrutural,Resposta e Recuperação,215190.00

In [35]:
municipio.loc[municipio['COD IBGE'] == 1100296]

,Ano,COD IBGE,UF,Tipo,Eixo de Atuação_rec,Valor total pago/transFérido
296,2013,1100296.00,RO,Estrutural,Resposta e Recuperação,0.00
525,2014,1100296.00,RO,Estrutural,Resposta e Recuperação,379087.34
1429,2017,1100296.00,RO,Estrutural,Resposta e Recuperação,343044.22

In [36]:
# Que tem so estado e nao tem municipio
estado = df.loc[df['COD IBGE'].isna() & (df['UF'].isna() == False)]
#print((estado.loc[estado.UF == 'RJ']) AND (estado.Ano == 2014))
estado = estado.groupby(['Ano', 'UF', 'Tipo', 'Eixo de Atuação_rec'])['Valor total pago/transFérido'].agg('sum')
estado = estado.reset_index()
estado.loc[estado['UF'] == 'RO']

,Ano,UF,Tipo,Eixo de Atuação_rec,Valor total pago/transFérido
134,2014,RO,Não estrutural,Resposta e Recuperação,16022243.63
169,2015,RO,Não estrutural,Resposta e Recuperação,237710.00
209,2016,RO,Não estrutural,Resposta e Recuperação,2273550.39
243,2017,RO,Não estrutural,Resposta e Recuperação,3547902.76
275,2018,RO,Não estrutural,Resposta e Recuperação,1144841.36
301,2019,RO,Não estrutural,Resposta e Recuperação,1661225.23

In [37]:
brazil = df.loc[df['COD IBGE'].isna() & df['UF'].isna()]
# agregamos todo para luego unir con la data de municipios
brazil = brazil.groupby(['Ano', 'Tipo', 'Eixo de Atuação_rec'])['Valor total pago/transFérido'].agg('sum')
brazil = brazil.reset_index()

In [38]:
brazil

     Ano            Tipo     Eixo de Atuação_rec  Valor total pago/transFérido
0   2012  Não estrutural               Prevenção                    9967765.85
1   2012  Não estrutural  Resposta e Recuperação                  703162241.80
2   2013  Não estrutural               Prevenção                   95199818.43
3   2013  Não estrutural  Resposta e Recuperação                 1734291015.76
4   2014  Não estrutural               Prevenção                  193726150.60
5   2014  Não estrutural  Resposta e Recuperação                 1768535236.99
6   2015  Não estrutural               Prevenção                   82728593.00
7   2015  Não estrutural  Resposta e Recuperação                  985267404.91
8   2016  Não estrutural               Prevenção                   29437674.51
9   2016  Não estrutural  Resposta e Recuperação                 1012484138.85
10  2017  Não estrutural               Prevenção                   35944145.24
11  2017  Não estrutural  Resposta e Recuperação                 1090115042.54
12  2018  Não estrutural               Prevenção                   98863293.71
13  2018  Não estrutural  Resposta e Recuperação                  754598092.22
14  2019  Não estrutural               Prevenção                   42673513.06
15  2019  Não estrutural  Resposta e Recuperação                  619965334.51
16  2020  Não estrutural               Prevenção                   24234568.65
17  2020  Não estrutural  Resposta e Recuperação                  553124903.73
18  2021  Não estrutural               Prevenção                   39432876.52
19  2021  Não estrutural  Resposta e Recuperação                  507636471.95
20  2022  Não estrutural               Prevenção                   30704368.17
21  2022  Não estrutural  Resposta e Recuperação                  550646005.03
22  2023  Não estrutural               Prevenção                   62388891.44
23  2023  Não estrutural  Resposta e Recuperação                  535646057.29
24  2024  Não estrutural               Prevenção                    7056801.77
25  2024  Não estrutural  Resposta e Recuperação                   53980937.25

# Merge with proportions

In [39]:
aux_data = pd.read_excel('C:/Users/xx-re/Downloads/Separação Investimentos.xlsx', sheet_name='Planilha1')
aux_data = aux_data[['Cod IBGE', 'UF', 'Município', 'prop']]
aux_data.loc[:,'COD UF'] = aux_data['Cod IBGE'].astype('str').str.slice(0,2)
aux_data

      Cod IBGE  UF            Município  prop COD UF
0      5200050  GO      Abadia de Goiás  0.01     52
1      3100104  MG  Abadia dos Dourados  0.00     31
2      5200100  GO            Abadiânia  0.01     52
3      3100203  MG               Abaeté  0.01     31
4      1500107  PA           Abaetetuba  0.10     15
...        ...  ..                  ...   ...    ...
5565   2933604  BA          Xique-Xique  0.01     29
5566   2517407  PB               Zabelê  0.00     25
5567   3557154  SP             Zacarias  0.00     35
5568   2114007  MA              Zé Doca  0.01     21
5569   4219853  SC               Zortéa  1.00     42

[5570 rows x 5 columns]

In [40]:
aux_data = pd.read_excel('../Data/proportions.xlsx')
aux_data = aux_data[['Cod IBGE', 'UF', 'Município', 'prop1', 'prop2']]
aux_data.loc[:,'COD UF'] = aux_data['Cod IBGE'].astype('str').str.slice(0,2)
aux_data

      Cod IBGE  UF              Município  prop1  prop2 COD UF
0      1100015  RO  Alta Floresta D'Oeste   0.01   0.00     11
1      1100023  RO              Ariquemes   0.06   0.00     11
2      1100031  RO                 Cabixi   0.00   0.00     11
3      1100049  RO                 Cacoal   0.05   0.00     11
4      1100056  RO             Cerejeiras   0.01   0.00     11
...        ...  ..                    ...    ...    ...    ...
5565   5222005  GO             Vianópolis   0.00   0.00     52
5566   5222054  GO         Vicentinópolis   0.00   0.00     52
5567   5222203  GO               Vila Boa   0.00   0.00     52
5568   5222302  GO          Vila Propício   0.00   0.00     52
5569   5300108  DF               Brasília   1.00   0.01     53

[5570 rows x 6 columns]

In [41]:
aux_data.loc[aux_data['Cod IBGE'] == 1100296]

    Cod IBGE  UF            Município  prop1  prop2 COD UF
20   1100296  RO  Santa Luzia D'Oeste   0.00   0.00     11

In [42]:
#Primeiro calculamos o total estadual
estado = estado.groupby(['Ano', 'UF', 'Tipo', 'Eixo de Atuação_rec'])['Valor total pago/transFérido'].agg('sum')
#pd.merge(estado, aux_data, left_on='UF', right_on='UF')
estado = estado.reset_index()

In [43]:
# unimos con aux_data para llenar los municipios
estado = pd.merge(estado, aux_data, left_on='UF', right_on='UF')
estado['valor_investimento'] = estado['Valor total pago/transFérido']*estado['prop1']
estado.loc[estado['Cod IBGE']==1100296]

,Ano,UF,Tipo,Eixo de Atuação_rec,Valor total pago/transFérido,Cod IBGE,Município,prop1,prop2,COD UF,valor_investimento
100438,2014,RO,Não estrutural,Resposta e Recuperação,16022243.63,1100296,Santa Luzia D'Oeste,0.00,0.00,11,75176.65
100490,2015,RO,Não estrutural,Resposta e Recuperação,237710.00,1100296,Santa Luzia D'Oeste,0.00,0.00,11,1115.34
100542,2016,RO,Não estrutural,Resposta e Recuperação,2273550.39,1100296,Santa Luzia D'Oeste,0.00,0.00,11,10667.54
100594,2017,RO,Não estrutural,Resposta e Recuperação,3547902.76,1100296,Santa Luzia D'Oeste,0.00,0.00,11,16646.82
100646,2018,RO,Não estrutural,Resposta e Recuperação,1144841.36,1100296,Santa Luzia D'Oeste,0.00,0.00,11,5371.62
100698,2019,RO,Não estrutural,Resposta e Recuperação,1661225.23,1100296,Santa Luzia D'Oeste,0.00,0.00,11,7794.50

In [44]:
estado = estado.groupby(['Ano', 'Cod IBGE', 'Tipo', 'Eixo de Atuação_rec'])['valor_investimento'].agg('sum').reset_index()
estado

,Ano,Cod IBGE,Tipo,Eixo de Atuação_rec,valor_investimento
0,2012,1200013,Estrutural,Resposta e Recuperação,50677.21
1,2012,1200013,Não estrutural,Resposta e Recuperação,288728.60
2,2012,1200054,Estrutural,Resposta e Recuperação,29276.47
3,2012,1200054,Não estrutural,Resposta e Recuperação,166799.92
4,2012,1200104,Estrutural,Resposta e Recuperação,93973.87
...,...,...,...,...,...
101280,2024,4323606,Não estrutural,Resposta e Recuperação,0.00
101281,2024,4323705,Não estrutural,Resposta e Recuperação,0.00
101282,2024,4323754,Não estrutural,Resposta e Recuperação,0.00
101283,2024,4323770,Não estrutural,Resposta e Recuperação,0.00
101284,2024,4323804,Não estrutural,Resposta e Recuperação,0.00

In [45]:
#municipio.loc[municipio.duplicated(subset=['Ano', 'COD IBGE', 'Tipo', 'Eixo de Atuação_rec'])]
#municipio.loc[municipio['COD IBGE'] == 2110005.0]
#estado.loc[estado['Cod IBGE'] == 3303906]

In [46]:
municipio = municipio.groupby(['Ano', 'COD IBGE', 'Tipo', 'Eixo de Atuação_rec'])['Valor total pago/transFérido'].agg('sum').reset_index()

municipio.rename(columns={'COD IBGE': 'Cod IBGE', 'Valor total pago/transFérido':'valor_investimento'}, inplace=True)
municipio.shape

(5632, 5)

In [47]:
#municipio.loc[municipio['Cod IBGE']==3303906]
# tendria que dar 309764.00

In [48]:
brazil['UF'] = 'BR'
aux_data['UF_c'] = 'BR'
brazil = pd.merge(brazil, aux_data, left_on='UF', right_on='UF_c')
brazil['valor_investimento'] = brazil['Valor total pago/transFérido']*brazil['prop2']
# valores devem ser unicos para cada municipio, ano tipo eixo de atuacao_rec
brazil = brazil.groupby(['Ano', 'Cod IBGE', 'Tipo', 'Eixo de Atuação_rec'])['valor_investimento'].agg('sum').reset_index()

In [49]:
brazil

,Ano,Cod IBGE,Tipo,Eixo de Atuação_rec,valor_investimento
0,2012,1100015,Não estrutural,Prevenção,1054.99
1,2012,1100015,Não estrutural,Resposta e Recuperação,74422.46
2,2012,1100023,Não estrutural,Prevenção,4752.83
3,2012,1100023,Não estrutural,Resposta e Recuperação,335281.94
4,2012,1100031,Não estrutural,Prevenção,262.64
...,...,...,...,...,...
144815,2024,5222203,Não estrutural,Resposta e Recuperação,1120.39
144816,2024,5222302,Não estrutural,Prevenção,202.06
144817,2024,5222302,Não estrutural,Resposta e Recuperação,1545.69
144818,2024,5300108,Não estrutural,Prevenção,97900.46
144819,2024,5300108,Não estrutural,Resposta e Recuperação,748888.62

In [50]:
# valores devem ser unicos para cada municipio, ano tipo eixo de atuacao_rec
brazil = brazil.groupby(['Ano', 'Cod IBGE', 'Tipo', 'Eixo de Atuação_rec'])['valor_investimento'].agg('sum').reset_index()

# Unimos los grupos estado y municipio, aqui unimos tambien con union

In [51]:
final = pd.concat([estado, municipio, brazil])
#final.loc[final['Cod IBGE']==3303906]
final = final.groupby(['Ano', 'Cod IBGE', 'Tipo', 'Eixo de Atuação_rec'])['valor_investimento'].agg('sum').reset_index()

In [52]:
final = final.pivot_table(index=['Ano', 'Cod IBGE', 'Eixo de Atuação_rec'], columns='Tipo', values='valor_investimento').reset_index().fillna(0)
final.loc[final['Cod IBGE']==3303906]

Tipo     Ano   Cod IBGE     Eixo de Atuação_rec  Estrutural  Não estrutural
6458    2012 3303906.00               Prevenção   112664.55        13688.25
6459    2012 3303906.00  Resposta e Recuperação   180520.59       985900.17
17598   2013 3303906.00               Prevenção  2869985.87       263719.32
17599   2013 3303906.00  Resposta e Recuperação   118945.58      2546634.70
28738   2014 3303906.00               Prevenção  1301215.27       575798.77
28739   2014 3303906.00  Resposta e Recuperação        0.00      2702860.05
39878   2015 3303906.00               Prevenção  2684575.57       113607.18
39879   2015 3303906.00  Resposta e Recuperação        0.00      1353020.17
51018   2016 3303906.00               Prevenção  1496049.21        40425.34
51019   2016 3303906.00  Resposta e Recuperação        0.00      1420966.30
62158   2017 3303906.00               Prevenção   105059.91        49360.36
62159   2017 3303906.00  Resposta e Recuperação        0.00      1497002.37
73298   2018 3303906.00               Prevenção    94719.73       135764.19
73299   2018 3303906.00  Resposta e Recuperação        0.00      1112809.48
84438   2019 3303906.00               Prevenção   430680.72        58601.48
84439   2019 3303906.00  Resposta e Recuperação        0.00       851368.47
95578   2020 3303906.00               Prevenção   327193.41        33280.16
95579   2020 3303906.00  Resposta e Recuperação        0.00       759579.73
106718  2021 3303906.00               Prevenção  1583775.19        54151.27
106719  2021 3303906.00  Resposta e Recuperação        0.00       697112.66
117858  2022 3303906.00               Prevenção    32437.97        42164.83
117859  2022 3303906.00  Resposta e Recuperação        0.00     28289545.16
128998  2023 3303906.00               Prevenção   244966.17        85675.65
128999  2023 3303906.00  Resposta e Recuperação        0.00       735576.88
140138  2024 3303906.00               Prevenção        0.00         9690.77
140139  2024 3303906.00  Resposta e Recuperação        0.00        74129.42

In [53]:
final.to_excel('../Data/final_data_investimentos.xlsx', index=False)